# Database Configuration
DB_CONNECTION_STRING=Data Source=localhost\SQLEXPRESS;Database=LocalinkDb;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Application Name="SQL Server Management Studio";Command Timeout=0

# JWT Configuration
JWT_SECRET_KEY=9xWz5B8vE1hYp3q7rD2gF4sJ6kL8nP0mQ9aS8dF7gH6jK5l4zX3c2vB1nM0pO9iU
JWT_ISSUER=LocalinkAPI
JWT_AUDIENCE=LocalinkUsers
JWT_EXPIRY_MINUTES=43200
JWT_EXPIRY_DAYS=30

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=localink.application@gmail.com
EMAIL_PASSWORD=bxhuyriezojrexvu
EMAIL_FROM=localink.application@gmail.com
EMAIL_APP_NAME=Vocal For Sanatan

# API Keys
CAPTCHA_SECRET_KEY=your_captcha_secret_key
COUNTRY_CSC_API_KEY=639c9c7c3f228e4bf9b999333f847835a2d33bbf9987efff12da87137eb8d789
GEOAPIFY_API_KEY=26ff7eefc12b41da90c9ef7084f08c15
GROQ_API_KEY=your_groq_api_key_here
CURRENCY_CONVERTER_API_KEY=apv_5ac90720-8e15-494a-9e6c-2a16599017d3

# Admin Email
ADMIN_EMAIL=support@localink.com
